<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.arke.sdk.arke_sdk_flutter">

  <queries>
    <intent>
      <action android:name="com.arke.vas.service" />
    </intent>
    <intent>
      <action android:name="com.arke.vas" />
    </intent>
    <intent>
      <action android:name="com.arke.sdk.vas" />
    </intent>
    <package android:name="com.arke" />
    <package android:name="com.arke.vas" />
    <package android:name="com.arke.sdk.demo" />
  </queries>
</manifest>
